@media screen and (max-width:768px) {
    .main-content-two {
        display: flex;
        flex-direction: column;
    }

    .title-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;
    }

    .title-about h1 {
        width: 327px;
        height: 152px;
        flex-shrink: 0;
        color: var(--suan-juan-blue);
        text-align: center;
        font-family: 'DM Serif Display', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.246px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .first-row-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 48px;
    }

    .vision, .business, .people, .culture {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .vision h1, .business h1, .people h1, .culture h1 {
        width: 255px;
        height: 32px;
        text-align: center;
        color: var(--suan-juan-blue);
        font-family: 'DM Serif Display', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.185px;
        margin-bottom: 16px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .vision p, .business p, .people p, .culture p {
        width: 327px;
        height: 196px;
        color: var(--light-suan-juan-blue);
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .second-row-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 76px;
    }

    .background-about {
        background-image: url(../IMG/about/mobile/image-team-members.jpg);
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-bottom: 65px;
        background-repeat: no-repeat;
    }

    .four-row-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 48px;
    }

    .four-row-about h1,
    p {
        text-align: center;
    }

    .four-row-about p {
        color: var(--suan-juan-blue);
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        margin-left: 24px;
        margin-right: 24px;
        width: 328px;
        height: 28px;
    }

    .four-row-about h1 {
        color: var(--dark-pink);
        text-align: center;
        font-family: 'DM Serif Display', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.431px;
        margin-left: 24px;
        margin-right: 24px;
        width: 327px;
        height: 72px;
    }

    .four-row-about::before,
    .four-row-about::after {
        content: "";
        position: absolute;
        width: calc(100% - 20px);
        /* Skersmuo be margin */
        border-top: 1px solid rgba(54, 83, 107, 0.25);
        /* Viršutinė linija su opacity */
        border-bottom: 1px solid rgba(54, 83, 107, 0.25);
        /* Apatinė linija su opacity */
    }

    /* Apatinės linijos pozicionavimas */
    .four-row-about::before {
        top: 0;
        /* Viršutinė linija */
    }

    /* Viršutinės linijos pozicionavimas */
    .four-row-about::after {
        bottom: 0;
        /* Apatinė linija */
    }

    .team {
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .office {
        margin-bottom: 32px;
    }

    .Transaction {
        margin-bottom: 16px;
    }

    .fifth-row-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 48px;
    }

    .six-row-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 48px;
    }

    .people {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .main-content-two {
        display: flex;
        flex-direction: column;
    }

    .title-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 54px;
    }

    .title-about h1 {
        width: 573px;
        height: 178px;
        color: var(--suan-juan-blue);
        text-align: center;
        font-family: 'DM Serif Display', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.369px;
        margin-left: 97px;
        margin-right: 98px;
    }

    .first-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 64px;
    }

    .vision, .business, .people, .culture {
        display: flex;
        flex-direction: row;
    }

    .bottom-line {
        height: 0.0625rem;
        margin: 16px auto;
        opacity: 0.25;
        background: var(--suan-juan-blue);
    }

    .vision h1, .business h1, .people h1, .culture h1 {
        color: var(--suan-juan-blue);
        font-family: 'DM Serif Display', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -0.246px;
        width: 223px;
        height: 40px;
        margin-left: 39px;
        text-align: left;
    }

    .vision p, .business p, .people p, .culture p {
        color: var(--light-suan-juan-blue);
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 456px;
        height: 140px;
        margin-right: 40px;
        text-align: left;
    }

    .second-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 64px;
    }

    .background-about {
        background-image: url(../IMG/about/tablet/image-team-members.jpg);
        max-width: 100%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 34px;
    }
   
    .four-row-about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 10px;
        align-items: center;
        width: 100%;
        margin-bottom: 64px;
    }

    .four-row-about p {
        display: none;

    }

    .four-row-about h1,
    p {
        text-align: center;
    }

    .four-row-about h1 {
        color: var(--dark-pink);
        text-align: center;
        font-family: 'DM Serif Display', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.431px;
        width: 223px;
        height: 72px;
        margin-top: 44px;
    }

    .fifth-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 64px;
    }

    .six-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 72px;
    }

    .people {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    body {
            /*BODY BACKGROUND*/
            background-image: url('../IMG/shared/desktop/bg-pattern-circle.svg'), url('../IMG/shared/desktop/bg-pattern-circle.svg');
            background-position: right -8.775rem top -32.713rem, left -32.382rem top 43%;
            background-size: 48.8rem 48.8rem;
            margin: 0 auto;
        }

    .main-content-two {
        display: flex;
        flex-direction: column;
    }

    .title-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 51px;
    }

    .title-about h1 {
        width: 730px;
        height: 189px;
        text-align: left;
        flex-shrink: 0;
        color: var(--suan-juan-blue);
        font-family: 'DM Serif Display', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.431px;
        margin-left: -160px;
    }

    .first-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 56px;
    }

    .vision, .people, .business, .culture {
        display: flex;
        flex-direction: row;
    }

    .bottom-line {
        height: 0.0625rem;
        margin: 16px auto;
        opacity: 0.25;
        background: var(--suan-juan-blue);
    }

    .vision h1, .business h1, .people h1, .culture h1 {
        color: var(--suan-juan-blue);
        font-family: 'DM Serif Display', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -0.246px;
        width: 255px;
        text-align: left;
        height: 40px;
    }

    .vision p, .business p, .people p, .culture p {
        color: var(--light-suan-juan-blue);
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 635px;
        text-align: left;
        height: 112px;
    }

    .second-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 70px;
    }

    .cover{
        position: relative;
    }

    .background-about {
        background-image: url(../IMG/about/desktop/image-team-members.jpg);
        max-width: 100%;
        height: 513px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 50px;
    }

    .four-row-about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        width: 100%;
        /* position: relative; */
        margin-bottom: 50px;
    }

    .four-row-about p {
        color: var(--suan-juan-blue);
        text-align: left;
        font-family: 'Public Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        width: 350px;
        height: 28px;
    }

    .four-row-about h1 {
        color: var(--dark-pink);
        font-family: 'DM Serif Display', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.431px;
        width: 350px;
        height: 72px;
        text-align: left;
    }

    .fifth-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 56px;
    }

    .six-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 56px;
    }
}