* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:768px){
    .main-content-2{
        display: flex;
        flex-direction: column;
        
    }
    .title-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom:40px;
        
        
    }
    .title-about h1{
        width: 327px;
        flex-shrink: 0;
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 112.5% */
        letter-spacing: -0.246px;
        margin-left: 24px;
        margin-right: 24px;
        
    }
    .first-row-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 48px;
    }
    .Vision{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    .Vision h1{
        width:255px;
        text-align: center;
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.185px;
        margin-bottom: 16px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .Vision p {
        width: 327px;
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .second-row-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 76px;
    }
    .Business{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .Business h1{
        width:255px;
        text-align: center;
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.185px;
        margin-bottom: 16px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .Business p{
        width: 327px;
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-left: 24px;
        margin-right: 24px;
    }
    
    .background-about {
        background-image: url(../IMG/about/mobile/image-team-members.jpg);
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-bottom: 65px;
    }
    .four-row-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 48px;
        
        
       
    }
    .four-row-about h1 , p{
        text-align: center;
    }
    .four-row-about p {
        color: #36536B;
        text-align: center;
        font-family: Public Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        margin-left: 24px;
        margin-right: 24px;
    }

    .four-row-about h1{
        color: #BA4270;
        text-align: center;
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px; 
        letter-spacing: -0.431px;
        margin-left: 24px;
        margin-right: 24px;

    }.four-row-about::before,
    .four-row-about::after {
      content: "";
      position: absolute;
      width: calc(100% - 20px); /* Skersmuo be margin */
      border-top: 1px solid rgba(54, 83, 107, 0.25); /* Viršutinė linija su opacity */
      border-bottom: 1px solid rgba(54, 83, 107, 0.25); /* Apatinė linija su opacity */
    }
    
    /* Apatinės linijos pozicionavimas */
    .four-row-about::before {
      top: 0; /* Viršutinė linija */
    }
    
    /* Viršutinės linijos pozicionavimas */
    .four-row-about::after {
      bottom: 0; /* Apatinė linija */
    }.team{
        margin-top: 16px;
        margin-bottom: 32px;
    }
    .office{
        margin-bottom: 32px;
    }
    .Transaction{
        margin-bottom: 16px;
    }

    .fifth-row-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 48px;
    }
    .Culture{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .Culture h1 {
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.185px;
        width: 255px;
        margin-bottom: 16px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .Culture p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 327px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .six-row-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 48px;
    }
    .people{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .people h1{
        color: #36536B;
        text-align: center;
        font-family:'DM Serif Display';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.185px;
        width: 255px;
        margin-bottom: 16px;
        margin-left: 60px;
        margin-right: 60px;
      
        

    }
    .people p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 327px;
        margin-left: 24px;
        margin-right: 24px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1440px){
    .main-content-2{
        display: flex;
        flex-direction: column;
    }
    .title-about{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom:40px ;
    }
    .title-about h1{
        width: 573px;
        flex-shrink: 0;
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 112.5% */
        letter-spacing: -0.369px;
    }
    .first-row-about{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 40px;
    }
    .Vision{
        display: flex;
        flex-direction: row;
        
    }
    .Vision h1 {
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        letter-spacing: -0.246px;
        width: 223px;
    }
    .Vision p {
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 456px;
    }
    .second-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .Business{
        display: flex;
        flex-direction: row;
    }
    .Business h1{
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        letter-spacing: -0.246px;
        width: 223px;
    }
    .Business p{
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 456px;
    }
    .background-about {
        background-image: url(../IMG/about/tablet/image-team-members.jpg);
        width: 100%;
        height: 513px;
        background-size: cover;
        background-position: center;
        margin-bottom: 50px;
    }
    .four-row-about{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 50px;
        
    
       
    }
    .four-row-about p {
        display: none;
        
    }
    .four-row-about h1 , p{
        text-align: center;
    }
   

    .four-row-about h1{
        color: #BA4270;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px; 
        letter-spacing: -0.431px;
        width: 223px;
        margin-top: 40px;

    }.four-row-about::before,
    .four-row-about::after {
      content: "";
      position: absolute;
      width: calc(100% - 20px); /* Skersmuo be margin */
      border-top: 1px solid rgba(54, 83, 107, 0.25); /* Viršutinė linija su opacity */
      border-bottom: 1px solid rgba(54, 83, 107, 0.25); /* Apatinė linija su opacity */
    }
    
    /* Apatinės linijos pozicionavimas */
    .four-row-about::before {
      top: 0; /* Viršutinė linija */
    }
    
    /* Viršutinės linijos pozicionavimas */
    .four-row-about::after {
      bottom: 0; /* Apatinė linija */
    }

    .fifth-row-about{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;

    }
    .Culture {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Culture h1{
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        letter-spacing: -0.246px;
        width: 223px;
    }
    .Culture p {
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 456px;
    }
    .six-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .people{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .people h1 {
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        letter-spacing: -0.246px;
        width: 223px;
    }
    .people p {
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 456px;
    }

}

@media screen and (min-width: 1440px) {
    .main-content-2{
        display: flex;
        flex-direction: column;
    }
    .title-about{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom:40px ;
    }
    .title-about h1{
        width: 730px;
        text-align:left ;
        flex-shrink: 0;
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 112.5% */
        letter-spacing: -0.431px;
        margin-left: -160px;
        
    }.first-row-about{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 40px;
    }
    .Vision{
        display: flex;
        flex-direction: row;
        
    }
    .Vision h1 {
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        letter-spacing: -0.246px;
        width: 255px;
        text-align: left;
    }
    .Vision p {
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 635px;
        text-align: left;
    }
    .second-row-about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .Business{
        display: flex;
        flex-direction: row;
    }
    .Business h1{
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        letter-spacing: -0.246px;
        width: 255px;
        text-align: left;
    }
    .Business p{
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 635px;
        text-align: left;
    }
    .background-about {
        background-image: url(../IMG/about/desktop/image-team-members.jpg);
        width: 100%;
        height: 480px;
        background-size: cover;
        background-position: center;
        margin-bottom: 50px;
    }
    .four-row-about{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 50px;    
    }
    .four-row-about p {
        color: #36536B;
        text-align: left;
        font-family: 'Public Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        width: 350px;
    }
        
    .four-row-about h1{
        color: #BA4270;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px; 
        letter-spacing: -0.431px;
        width: 350px;
        text-align: left;        

    }.four-row-about::before,
    .four-row-about::after {
      content: "";
      position: absolute;
      width: calc(100% - 20px); /* Skersmuo be margin */
      border-top: 1px solid rgba(54, 83, 107, 0.25); /* Viršutinė linija su opacity */
      border-bottom: 1px solid rgba(54, 83, 107, 0.25); /* Apatinė linija su opacity */
    }
    
    /* Apatinės linijos pozicionavimas */
    .four-row-about::before {
      top: 0; /* Viršutinė linija */
    }
    
    /* Viršutinės linijos pozicionavimas */
    .four-row-about::after {
      bottom: 0; /* Apatinė linija */
    }
    .fifth-row-about{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;

    }
    .Culture {
        display: flex;
        flex-direction: row;
    }
    .Culture h1{
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        letter-spacing: -0.246px;
        width: 255px;
    }
    .Culture p {
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 635px;
    }
    .six-row-about{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .people{
        display: flex;
        flex-direction: row;
    }
    .people h1{
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        letter-spacing: -0.246px;
        width: 255px;
    }
    .people p{
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 635px;
    }



    




}