/* Mobile */
header {
    padding-top: 0.125rem;
    margin: 0 auto;
    width: 23.438rem;
    height: 39.438rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 8rem;
    height: 15rem;
}

header h1 {
    width: 20.4375rem;
    color: var(--suan-juan-blue);
    text-align: center;
    font-family: DM Serif Display, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: -0.01538rem;
}

header form {
    display: flex;
    width: 20.4375rem;
    height: 17.8125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;
    margin-top: 1.875rem;
}

header form input {
    width: 20.4375rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--link-water-white);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border: none;
}

header form input:focus-visible {
    outline: none;
}

header form input::placeholder {
    color: var(--light-suan-juan-blue);
    font-family: Public Sans, sans-serif;
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.00719rem;
    opacity: 0.5;
}

header input[type="email"] {
    padding-left: 1.69rem;
    color: var(--suan-juan-blue);
    font-family: Public Sans sans, sans-serif;
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    background: var(--link-water-white);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

header form input:hover {
    cursor: pointer;
}

header form .btn-demo {
    width: 20.4375rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--dark-pink);
    color: var(--link-water-white);
    text-align: center;
    font-family: Public Sans, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.00719rem;
    cursor: pointer;
    border: none;
}

header form .btn-demo:hover {
    border-radius: 1.5rem;
    background: var(--charm-pink-actives);
}

header p {
    color: var(--light-suan-juan-blue);
    font-family: Public Sans, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header p a {
    color: var(--light-suan-juan-blue);
    font-family: Public Sans sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    border: none;
}

/* Tablet */
@media (min-width: 768px) {
    header {
        margin-top: 3rem;
    }

    header img {
        width: 9.73531rem;
        height: 18.70731rem;
        flex-shrink: 0;
    }

    header h1 {
        width: 35.8125rem;
        height: 7.625rem;
        flex-shrink: 0;
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: -0.02306rem;
    }

    header .input-container {
        width: 27.8125rem;
        height: 3rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        color: var(--suan-juan-blue);
        text-align: center;
        font-family: DM Serif Display, sans-serif;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.5rem;
        letter-spacing: -0.02306rem;
    }

    header form .btn-demo {
        width: 10.8125rem;
        height: 3rem;
        flex-shrink: 0;
        color: var(--link-water-white);
        font-family: Public Sans, sans-serif;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.00719rem;
        margin-left: -3.563rem;
    }

    header form input [type='email'] {
        width: 10.8125rem;
        height: 3rem;
        flex-shrink: 0;
    }
}

@media (min-width: 1440px) {
    header {
        flex-direction: row-reverse;
        justify-content: center;
        width: auto;
        height: 35.938rem;
        gap: 14rem;
        margin: 0 auto;
    }

    header img {
        width: 16.10306rem;
        height: 31.17881rem;
        flex-shrink: 0;
        margin-left: 2rem;
    }

    header h1 {
        width: 34.125rem;
        height: 15.1875rem;
        color: var(--suan-juan-blue);
        font-family: DM Serif Display, sans-serif;
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 4.5rem;
        letter-spacing: -0.03463rem;
        text-align: left;
    }

    header form {
        width: 27.8125rem;
        height: 3rem;
        flex-shrink: 0;
        align-items: start;
        margin-right: 4rem;
    }

    header form p {
        margin-left: 1.5rem;
    }
}

