.logo-container-section{
    background-color: #1B262F;
    padding: 2rem 2rem;
    display: grid;
    gap: 4rem;
    background-image: url('../IMG/shared/desktop/bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position: right 50% top -37.57rem;
    background-size: 48.8rem 48.8rem;
    margin: 0 auto;
}
.logo-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.75rem;
    margin: 3.5rem auto 0;
}
.who-we-work-with{
    text-align: center;
    margin-bottom: 1rem;
}
.who-we-work-with h2{
    color: #FBFCFE;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; /* 112.5% */
    letter-spacing: -0.01538rem;
}

.tesla{
    width: 6.62625rem;
    height: 0.89113rem;
}

.hp{
    width: 7.18394rem;
    height: 1.375rem;
}

.google{
    width: 4.934rem;
    height: 1.6875rem;
    margin-left: 0.5rem;
}

.microsoft{
    width: 7.44813rem;
    height: 1.625rem;
}

.oracle{
    width: 6.72206rem;
    height: 0.86575rem;
    margin-left: 0.875rem;
}

.nvidia{
    width: 7.04119rem;
    height: 1.32956rem;
}

.who-we-work-with p{
    width: 22rem;
    color: #FBFCFE;
    opacity: 0.7;
    text-align: center;
    font-family: Public Sans;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 1rem auto 1.5rem;
}

.who-we-work-with button{
    width: 8.0625rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid #FBFCFE;
    background-color: #1B262F;
    margin: 2rem auto;
}

.who-we-work-with button{
    text-decoration: none;
    color: #FBFCFE;
    text-align: center;
    font-family: Public Sans;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.00719rem;
}
.who-we-work-with button:hover{
    background-color: #fbfcfe;
    color: #1B262F;
    cursor: pointer;
}

.who-we-work-with img .google{
    margin-left: 2.5rem;
}

@media(min-width:768px){
    .logo-container-section{
        padding:1rem;
        justify-content: center;
        gap: 0;
        background-image: url('../IMG/shared/desktop/bg-pattern-circle.svg');
        background-repeat: no-repeat;
        background-position: right 50% top -34.65rem;
        background-size: 48.8rem 48.8rem;
        margin: 0 auto;
    }
    .logo-container{
        grid-template-columns: repeat(3,1fr);
        width: 33.5rem;
        gap: 3.5rem;
    }
    .who-we-work-with p{
        width: 28.5rem;
        text-align: center;
        font-family: Public Sans;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem; /* 186.667% */
        margin:0 auto 1.5rem;
        opacity: 0.7;
    }

    .who-we-work-with h2{
        margin-bottom: 1.5rem;
        margin-top: 4.5rem;
    }

    .logo-container-section .google{
        margin-left: 1.35rem;
        width: 6rem;
        height: 2.0625rem;
    }

    .logo-container-section .tesla{
        width: 8.0625rem;
        height: 1.0625rem;
        margin-left: 0.825rem;
    }

    .logo-container-section .microsoft{
        width: 9.0625rem;
        height: 1.9375rem;
    }

    .logo-container-section .oracle{
        width: 8.1875rem;
        height: 1.0625rem;
    }

    .logo-container-section .nvidia{
        width: 8.5625rem;
        height: 1.625rem;
    }

    .logo-container-section .hp{
        width: 8.75rem;
        height: 1.6875rem;
    }

    .who-we-work-with button{
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }
}

@media(min-width:1440px){
    .logo-container-section{
        grid-template-columns: repeat(2,1fr);
        position: relative;
        padding: 2rem;
        background-image: url('../IMG/shared/desktop/bg-pattern-circle.svg');
        background-repeat: no-repeat;
        background-position: left -9.5rem top -22.32rem;
        background-size: 48.8rem 48.8rem;
        margin: 0 auto;
        height: 33rem;
    }

    .who-we-work-with{
        margin: 0 auto;
        width: 29rem;
    }

    .who-we-work-with h2{
        text-align: left;
        padding-left: 4rem;
        font-size: 2.5rem;
    }

    .who-we-work-with p{
        color: #FBFCFE;
        font-family: Public Sans;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        opacity: 0.7;
        margin-bottom: 2.5rem;
        text-align: left;
        margin-left: 4rem;
    }

    .logo-container{
        width: 33rem;
        position: absolute;
        right: 12%;
        top: 35%;
        gap: 1.2rem;
        margin: 0 auto;
    }

    .logo-container-section .google{
        margin-left: 1.35rem;
        width: 6rem;
        height: 2.0625rem;
    }

    .logo-container-section .tesla{
        width: 8.0625rem;
        height: 1.0625rem;
        margin-left: 0.825rem;
    }

    .logo-container-section .microsoft{
        width: 9.0625rem;
        height: 1.9375rem;
    }

    .logo-container-section .oracle{
        width: 8.1875rem;
        height: 1.0625rem;
    }

    .logo-container-section .nvidia{
        width: 8.5625rem;
        height: 1.625rem;
    }

    .logo-container-section .hp{
        width: 8.75rem;
        height: 1.6875rem;
    }

    .who-we-work-with button{
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        margin-right: 13rem;
    }
}