/* For mobile devices */
@media screen and  (max-width: 768px) {
    .main-content-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 5.875rem;
        margin-top: 2.5rem;
    }

    .first-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.125rem;
    }

    .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 3.25rem;
    }

    .form {
        width: 328px;
        height: 209px;
        flex-shrink: 0;
    }

    .easy-to-implement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .easy-to-implement p, .simple-ui p {
        text-align: center;
        color: var(--light-suan-juan-blue);
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 21rem;
    }

    .easy-to-implement h1, .simple-ui h1 {
        color: var(--suan-juan-blue);
        text-align: center;
        font-family: 'DM Serif Display', sans-serif;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.25rem;
        letter-spacing: -0.017rem;
        width: 20.438rem;
        margin-bottom: 1.5rem;
    }

    .second-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 2.5rem;
    }

    .mobile-photo-one {
        width: 20.5rem;
        text-align: center;
    }

    .mobile-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.25rem;
    }

    .simple-ui {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .third-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .personal-finances, .banking-coverage, .consumer-payments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.125rem;
    }

    .personal-photo, .banking-photo, .consumer-photo {
        text-align: center;
        width: 6.625rem;
        height: 6.625rem;
        margin-bottom: 1.875rem;
    }

    .personal-finances ul, .banking-coverage ul, .consumer-payments ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 20.5rem;
    }

    .personal-finances h3, .banking-coverage h3, .consumer-payments h3 {
        color: var(--suan-juan-blue);
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.563rem;
        letter-spacing: -0.009rem;
        width: 20.5rem;
        margin-bottom: 0.625rem;
    }

    .personal-finances p, .banking-coverage p, .consumer-payments p {
        color: var(--light-suan-juan-blue);
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 0.938rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.563rem;
        letter-spacing: -0.007rem;
        width: 20.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .main-content-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 7.5rem;
    }

    .first-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6.25rem;
        margin-bottom: 6.75rem;
    }

    .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 3.625rem;
    }

    .form {
        width: 24.483rem;
        flex-shrink: 0;
    }

    .easy-to-implement, .simple-ui {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .easy-to-implement p, .simple-ui p {
        text-align: center;
        color: var(--light-suan-juan-blue);
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 573px;
    }

    .easy-to-implement h1, .simple-ui h1 {
        color: var(--suan-juan-blue);
        text-align: center;
        font-family: 'DM Serif Display', sans-serif;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.25rem;
        letter-spacing: -0.017rem;
        width: 35.813rem;
        margin-bottom: 2rem;
    }

    .second-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-photo-one {
        width: 24.483rem;
        flex-shrink: 0;
        margin-bottom: 3.5rem;
    }

    .mobile-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .third-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        gap: 1rem;
    }

    .personal-finances, .consumer-payments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.125rem;
    }


    .banking-coverage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1.563rem;
    }

    .personal-photo, .banking-photo, .consumer-photo {
        text-align: center;
        width: 5.5rem;
        height: 5.5rem;
        margin-bottom: 1.875rem;
    }

    .personal-finances ul, .banking-coverage ul, .consumer-payments ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .personal-finances h3, .banking-coverage h3, .consumer-payments h3 {
        color: var(--suan-juan-blue);
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.563rem;
        letter-spacing: -0.009rem;
        width: 13.938rem;
        margin-bottom: 0.625rem;
    }

    .personal-finances p, .banking-coverage p, .consumer-payments p {
        color: var(--light-suan-juan-blue);
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 0.938rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.563rem;
        letter-spacing: -0.007rem;
        width: 13.938rem;
    }
}

@media screen and (min-width: 1440px) {
    .main-content-two {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        margin-bottom: 6.75rem;
    }

    .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 9.375rem auto 5rem;
        gap: 5.75rem;
    }

    .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 27.8125rem;
        height: 17.75rem;
        flex-shrink: 0;
    }

    .form {
        width: 27.813rem;
        flex-shrink: 0;
    }

    .easy-to-implement, .simple-ui {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .easy-to-implement p, .simple-ui p {
        color: var(--light-suan-juan-blue);
        font-family: 'Public Sans', sans-serif;
        font-size: 0.938rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        width: 27.813rem;
        text-align: left;
    }

    .easy-to-implement h1, .simple-ui h1 {
        color: var(--suan-juan-blue);
        font-family: 'DM Serif Display', sans-serif;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.5rem;
        letter-spacing: -0.023rem;
        width: 27.813rem;
        margin-bottom: 2rem;
        text-align: left;
    }

    .second-row {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin: 5rem auto;
        gap: 5.75rem;
    }

    .mobile-photo-one {
        width: 31.125rem;
        flex-shrink: 0;
    }

    .mobile-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 31.125rem;
    }

    .third-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 2rem auto 0;
        gap: 1rem;
    }

    .personal-finances, .banking-coverage, .consumer-payments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.125rem;
    }

    .personal-photo, .consumer-photo, .banking-photo {
        text-align: center;
        width: 6.625rem;
        height: 6.625rem;
        margin-bottom: 1.875rem;
    }

    .personal-finances ul, .banking-coverage ul, .consumer-payments ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .personal-finances h3, .banking-coverage h3, .consumer-payments h3 {
        color: var(--suan-juan-blue);
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.563rem;
        letter-spacing: -0.009rem;
        width: 21.875rem;
        margin-bottom: 1.813rem;
    }

    .personal-finances p, .consumer-payments p, .banking-coverage p {
        color: var(--light-suan-juan-blue);
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 0.938rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.563rem;
        letter-spacing: -0.007rem;
        width: 21.875rem;
    }
}