/* For mobile devices */
@media screen and  (max-width: 768px) {
    .main-content-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 5.875rem;
    }

    .first-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .form {
        width: 328px;
        height: 209px;
        flex-shrink: 0;
    }

    .Easy-to-implement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Easy-to-implement p {
        text-align: center;
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 21rem;
    }

    .Easy-to-implement h1 {
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.277px;
        width: 327px;
        margin-bottom: 24px;
    }

    .second-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;


    }

    .mobile-photo-1 {
        width: 328px;
        text-align: center;


    }

    .mobile-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .simple-ui {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .simple-ui h1 {
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.277px;
        width: 327px;
        margin-bottom: 20px;
    }

    .simple-ui p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 328px;
    }

    .third-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .Personal-finances {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .personal-photo {
        text-align: center;
        width: 106px;
        height: 106px;
        margin-bottom: 30px;
    }

    .Personal-finances ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 328px;
    }

    .Personal-finances h3 {
        color: #36536B;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.138px;
        width: 328px;
        margin-bottom: 10px;
    }

    .Personal-finances p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.115px;
        width: 328px;
    }

    .Banking-Coverage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .Banking-photo {
        text-align: center;
        width: 106px;
        height: 106px;
        margin-bottom: 30px;
    }

    .Banking-Coverage ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 328px;
    }

    .Banking-Coverage h3 {
        color: #36536B;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.138px;
        width: 328px;
        margin-bottom: 10px;
    }

    .Banking-Coverage p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.115px;
        width: 328px;
    }

    .Consumer-Payments {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .Consumer-photo {
        text-align: center;
        width: 106px;
        height: 106px;
        margin-bottom: 30px;
    }

    .Consumer-Payments ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 328px;
    }

    .Consumer-Payments h3 {
        color: #36536B;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.138px;
        width: 328px;
        margin-bottom: 10px;
    }

    .Consumer-Payments p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.115px;
        width: 328px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .main-content-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 7.5rem;
    }

    .first-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .form {
        width: 391.725px;
        flex-shrink: 0;
    }

    .Easy-to-implement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Easy-to-implement p {
        text-align: center;
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 573px;
    }

    .Easy-to-implement h1 {
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.277px;
        width: 573px;
        margin-bottom: 24px;
    }

    .second-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .mobile-photo-1 {
        width: 391.725px;
        flex-shrink: 0;
    }

    .mobile-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .simple-ui {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .simple-ui h1 {
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.277px;
        width: 573px;
        margin-bottom: 20px;
    }

    .simple-ui p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 573px;
    }

    .third-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        gap: 1rem;
    }

    .Personal-finances {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }

    .personal-photo {
        text-align: center;
        width: 88px;
        height: 88px;
        margin-bottom: 30px;
    }

    .Personal-finances ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .Personal-finances h3 {
        color: #36536B;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.138px;
        width: 223px;
        margin-bottom: 10px;

    }

    .Personal-finances p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.115px;
        width: 223px;
    }

    .Banking-Coverage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    .Banking-photo {
        text-align: center;
        width: 88px;
        height: 88px;
        margin-bottom: 30px;
    }

    .Banking-Coverage ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    .Banking-Coverage h3 {
        color: #36536B;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.138px;
        width: 223px;
        margin-bottom: 10px;
    }

    .Banking-Coverage p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.115px;
        width: 223px;
    }

    .Consumer-Payments {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .Consumer-photo {
        text-align: center;
        width: 88px;
        height: 88px;
        margin-bottom: 30px;
    }

    .Consumer-Payments ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .Consumer-Payments h3 {
        color: #36536B;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.138px;
        width: 223px;
        margin-bottom: 10px;
    }

    .Consumer-Payments p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.115px;
        width: 223px;
    }
}

@media screen and (min-width: 1440px) {
    .main-content-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        margin-bottom: 6.75rem;
    }

    .first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 9.375rem auto 0;
        gap: 5.75rem;
    }

    .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 27.8125rem;
        height: 17.75rem;
        flex-shrink: 0;
    }

    .form {
        width: 445px;
        flex-shrink: 0;
    }

    .Easy-to-implement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Easy-to-implement p {
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 445px;
    }

    .Easy-to-implement h1 {
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.369px;
        width: 445px;
        margin-bottom: 2rem;
    }

    .second-row {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px auto;
        gap: 5.75rem;
    }

    .mobile-photo-1 {
        width: 31.125rem;
        flex-shrink: 0;
    }

    .mobile-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 31.125rem;
    }

    .simple-ui {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .simple-ui h1 {
        color: #36536B;
        font-family: 'DM Serif Display';
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.369px;
        width: 445px;
        margin-bottom: 20px;
    }

    .simple-ui p {
        color: #6C8294;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 445px;
    }

    .third-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }

    .Personal-finances {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }

    .personal-photo {
        text-align: center;
        width: 106px;
        height: 106px;
        margin-bottom: 30px;
        flex-shrink: 0;
    }

    .Personal-finances ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;


    }

    .Personal-finances h3 {
        color: #36536B;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.138px;
        width: 350px;
        margin-bottom: 1.813rem;
    }

    .Personal-finances p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.115px;
        width: 350px;
    }

    .Banking-Coverage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .Banking-photo {
        text-align: center;
        width: 106px;
        height: 106px;
        margin-bottom: 30px;
        flex-shrink: 0;
    }

    .Banking-Coverage ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    .Banking-Coverage h3 {
        color: #36536B;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.138px;
        width: 350px;
        margin-bottom: 1.813rem;
    }

    .Banking-Coverage p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.115px;
        width: 350px;
    }

    .Consumer-Payments {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .Consumer-photo {
        text-align: center;
        width: 106px;
        height: 106px;
        margin-bottom: 30px;
        flex-shrink: 0;
    }

    .Consumer-Payments ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .Consumer-Payments h3 {
        color: #36536B;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.138px;
        width: 350px;
        margin-bottom: 1.813rem;
    }

    .Consumer-Payments p {
        color: #6C8294;
        text-align: center;
        font-family: 'Public Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.115px;
        width: 350px;
    }

}