.main-content-container {
    background: #1B262F;
    height: 46.875rem;
    margin: 0 auto;
}

.img-container {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 20.4375rem;
    margin: 0 auto;
    padding-top: 5rem;
}

.img-container img {
    fill: #fff;
    flex-shrink: 0;
    margin-bottom: 2.5rem;
    margin-left: 1.5rem;
}

.img-container .hp {
    width: 7.18394rem;
    height: 1.375rem;
    flex-shrink: 0;
}

.img-container .google {
    width: 4.934rem;
    height: 1.6875rem;
    flex-shrink: 0;
}

.img-container .microsoft{
    width: 7.44813rem;
    height: 1.625rem;
    flex-shrink: 0;
}

.img-container .oracle{
    width: 6.72206rem;
    height: 0.86575rem;
    flex-shrink: 0;
}

.img-container .nvidia{
    width: 7.04119rem;
    height: 1.32956rem;
    flex-shrink: 0;
}

.main-content-text h2 {
    color: #FBFCFE;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; /* 112.5% */
    letter-spacing: -0.01538rem;
    margin-bottom: 3.25rem;
    margin-top: 1.255rem;
}

.main-content-text p {
    color: #FBFCFE;
    width: 21rem;
    height: 8.75rem;
    font-family: Public Sans;
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    opacity: 0.7;
    margin: 0 auto 4.25rem;
}

.main-content-text button {
    width: 8.0625rem;
    height: 3rem;
    flex-shrink: 0;
    background: #1B262F;
    border-radius: 1.5rem;
    border: 1px solid #FBFCFE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

.main-content-text button a {
    color: #FBFCFE;
    text-align: center;
    font-family: Public Sans;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.00719rem;
    text-decoration: none;
}

.main-content-text button a:hover {
    color: #1B262F;
}

.main-content-text button:hover {
    border-radius: 1.5rem;
    border: 1px solid #FBFCFE;
    background: #FFF;
    cursor: pointer;
    color: #1B262F;
}
