@import 'main.css';

/* Resetas css i default  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;
}

/* Navigacijos nusatymas desktop */
@media screen and (min-width:1025px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 68.75rem;
        height: 3rem;
        margin: 0.938rem auto;
        margin-bottom: 82px;


    }

    .logo-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 3.125rem;

    }

    .menu-toggle {
        display: none;
    }

    .logo {
        cursor: pointer;

    }

    .payapi {
        height: 2.375rem;
        align-items: center;
        margin-top: 0.625rem;
        position: relative;
    }

    .menu {
        list-style: none;
        display: flex;
        align-items: center;

    }

    .menu li {
        margin: 0 0.625rem;
    }

    .menu a {
        text-decoration: none;
        color: var(--suan-juan-blue);
        font-family: 'Public Sans', sans-serif;
        font-size: 0.93rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.7;

    }

    .menu a:hover {
        opacity: 1;
    }

    .schedule-demo {
        padding: 1rem 2.5rem;
        background-color: var(--dark-pink);
        border-radius: 1.5rem;
        box-shadow: 0.625rem 0.625rem 1.563rem -0.625rem rgba(54, 83, 107, 0.25);
        border: none;
        flex-shrink: 0;
        color: var(--link-water-white);
        text-decoration: none;
        font-family: 'Public Sans', sans-serif;
        font-size: 0.938rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.007rem;
    }

    /* Neatgaminu kas cia  */
    /* .schedule-demo-list{
        display: none;
    } */
    .schedule-demo:hover {
        background-color: var(--charm-pink-actives);
        cursor: pointer;
    }

    .close-menu {
        display: none;
        cursor: pointer;
    }

    .mobile {
        display: none;
    }

}

/* Media tablet */
@media screen and (min-width:768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 64rem;
        height: 2.375rem;
        margin: 0.938rem auto;
        margin-top: 1.5rem;
        margin-bottom: 80px;



    }

    .logo-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 3.125rem;


    }

    .menu-toggle {
        display: none;
    }

    .logo {
        cursor: pointer;

    }

    .payapi {
        height: 2.375rem;
        align-items: center;
        position: relative;
        margin-top: 0.625rem;
    }

    .menu {
        list-style: none;
        display: flex;
        align-items: center;

    }

    .menu li {
        margin: 0 0.625rem;
    }

    .menu a {
        text-decoration: none;
        color: var(--suan-juan-blue);
        font-family: 'Public Sans', sans-serif;
        font-size: 0.93rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.7;

    }

    .menu a:hover {
        opacity: 1;
    }

    .schedule-demo {
        padding: 1rem 2.5rem;
        background-color: var(--dark-pink);
        border-radius: 1.5rem;
        box-shadow: 0.625rem 0.625rem 1.563rem -0.625rem rgba(54, 83, 107, 0.25);
        border: none;
        flex-shrink: 0;
        color: var(--link-water-white);
        text-decoration: none;
        font-family: 'Public Sans', sans-serif;
        font-size: 0.938rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.007rem;
    }

    /* Neatgaminu kas cia  */
    /* .schedule-demo-list{
        display: none;
    } */
    .schedule-demo:hover {
        background-color: var(--charm-pink-actives);
        cursor: pointer;
    }

    .close-menu {
        display: none;
        cursor: pointer;
    }

    .mobile {
        display: none;
    }

}


/* Mobiliojo ekrano stiliai */
/* Meniu nustatymas esant mobile aplinkoje  */

@media screen and (max-width: 767px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0.063rem;
        right: 0.313rem;
        max-width: 22.23rem;
        background-color: var(--mirage-blue);
        z-index: 1;
        height: 41.688rem;
        padding: 2.5rem;
        flex-shrink: 0
    }

    .menu.active {
        display: flex;

    }

    .menu li {
        margin: 0.625rem 0;
        list-style: none;
        text-align: center;
    }


    .menu-toggle {
        position: absolute;
        right: 1.25rem;
        cursor: pointer;
    }

    .schedule-demo {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;
        margin-bottom: 48px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;


    }

    .payapi {
        height: 2.375rem;
        align-items: center;
        margin-left: 0.3rem;

    }

    .logo-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;


    }

    .close-menu {
        display: block;
        border-bottom: 0.125rem solid rgb(251, 252, 254, 0.3);
        width: 100%;
        padding: 0.1rem;


    }

    .menu a {
        color: var(--link-water-white);
        padding: 1rem;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.125rem;
        text-decoration: none;
        opacity: 0.6;

    }

    /* Schedule demo migtukas mobiliai aplinkai  */
    .mobile {
        display: block;
        color: var(--link-water-white);
        text-decoration: none;
        font-family: 'Public Sans', sans-serif;
        font-size: 0.938rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.007rem;
        padding: 1rem 4.7rem;
        background-color: var(--dark-pink);
        border-radius: 1.5rem;
        box-shadow: 0.625rem 0.625rem 1.563rem -0.625rem rgba(54, 83, 107, 0.25);
        border: none;
        flex-shrink: 0
    }

    .mobile:hover {
        background-color: var(--charm-pink-actives);
        cursor: pointer;
    }

    .logo-x {
        display: block;
        position: absolute;
        right: 1.5rem;
        top: 2.5rem;
        height: 1.25rem;




    }




}