.ready-to-start {
    padding-top: 0.125rem;
    margin: 0 auto;
    width: 23.4375rem;
    height: 15.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ready-to-start h2 {
    color: #36536B;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    /* 112.5% */
    letter-spacing: -0.01538rem;
    margin-bottom: 2.438rem;
}

.ready-to-start input {
    width: 20.4375rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border: none;
    margin: 0 auto 0 1.5rem;
}

.ready-to-start input:focus-visible {
    outline: none;
}

.ready-to-start input::placeholder {
    color: #6C8294;
    font-family: Public Sans;
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.00719rem;
    opacity: 0.5;
}

.ready-to-start input[type="email"] {
    padding-left: 1.69rem;
    color: #36536B;
    font-family: Public Sans sans;
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.ready-to-start .btn-demo {
    width: 20.4375rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: #BA4270;
    color: #FBFCFE;
    text-align: center;
    font-family: Public Sans;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.00719rem;
    cursor: pointer;
    border: none;
}

.ready-to-start .btn-demo:hover {
    border-radius: 1.5rem;
    background: #DA6D97;
}

@media (min-width: 768px) {
    .ready-to-start {
        height: 14.625rem;
        width: 48rem;
    }

    .ready-to-start h2 {
        width: 27.8125rem;
        color: #36536B;
        text-align: center;
        font-family: DM Serif Display;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.5rem;
        /* 116.667% */
        letter-spacing: -0.02306rem;
        margin-left: 2.725rem;
    }

    .ready-to-start .input-container {
        width: 27.8125rem;
        height: 3rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        color: #36536B;
        text-align: center;
        font-family: DM Serif Display;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.5rem;
        /* 116.667% */
        letter-spacing: -0.02306rem;
    }

    .ready-to-start .btn-demo {
        width: 10.8125rem;
        height: 3rem;
        flex-shrink: 0;
        color: #FBFCFE;
        font-family: Public Sans;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.00719rem;
        margin-left: -3.563rem;
    }

    .ready-to-start input [type='email'] {
        width: 10.8125rem;
        height: 3rem;
        flex-shrink: 0;
    }
}

@media (min-width: 1440px) {
    .ready-to-start {
        flex-direction: row;
        justify-content: center;
        width: 90rem;
        height: 9.25rem;
        margin: 0 auto 2.5rem;
        padding-left: 4rem;
    }

    .ready-to-start h2 {
        width: 27.8125rem;
        color: #36536B;
        font-family: DM Serif Display;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.5rem;
        letter-spacing: -0.02306rem;
        margin-top: 1.825rem;
    }

    .ready-to-start .input-container {
        width: 27.8125rem;
        height: 3rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        color: #36536B;
        text-align: center;
        font-family: DM Serif Display;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.5rem;
        /* 116.667% */
        letter-spacing: -0.02306rem;
        margin: 0 auto;
        padding-left: 1rem;
    }

    .container-right {
        position: absolute;
        right: 13.5rem;
    }

    .ready-to-start h2 {
        position: absolute;
        left: 4rem;
    }


}